<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Inventory Application</title>
    </head>
    <body>
        <h1>Gaming Store Inventory</h1>
        <a href="/add">Add game</a>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Developer</th>
                    <th>Genres</th>
                </tr>
            </thead>
            <tbody>
                <% games.forEach((game) => { %>
                <tr>
                    <td><%= game.title %></td>
                    <td><%= game.release_year %></td>
                    <td><%= game.developer %></td>
                    <td><%= game.genres %></td>
                    <td>
                        <a class="update-btn" href="/<%= game.game_id %>/update"
                            >Update</a
                        >
                    </td>
                    <td>
                        <form
                            action="/<%= game.game_id %>/delete"
                            method="POST"
                            style="display: inline"
                        >
                            <button
                                type="submit"
                                onclick="return confirm('Are you sure you want to delete <%= game.title %>');"
                            >
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>
