<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Inventory Application</title>
    </head>
    <body>
        <h1>Gaming Store Inventory</h1>
        <%- include("partials/header.ejs") %>

        <h2>Show games by genres</h2>
        <nav class="sort-by-genres-container">
            <a class="genre-link all" href="/">Show all</a>
            <% genres.forEach(genre => { %>
            <a class="genre-link" href="/?genre=<%= genre.name %>"
                ><%= genre.name %></a
            >
            <% }) %>
        </nav>

        <h2>Show games by developers</h2>
        <nav class="sort-by-developers-container">
            <a class="developer-link all" href="/">Show all</a>
            <% developers.forEach(developer => { %>
            <a class="developer-link" href="/?developer=<%= developer.name %>"
                ><%= developer.name %></a
            >
            <% }) %>
        </nav>

        <%- include("partials/table.ejs") %>
    </body>
</html>
