<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Inventory Application</title>
    </head>
    <body>
        <h1>Gaming Store Inventory</h1>
        <a class="add-btn" href="/add">Add game</a>
        <form class="search-form" action="/" method="get">
            <input
                type="text"
                name="search"
                value="<%= search %>"
                placeholder="Search games..."
            />
            <button class="search-submit-btn" type="submit">🔍</button>
        </form>
        <% if (searching) { %>
        <a class="show-all-btn" href="/">Show All</a>
        <% } %>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Developer</th>
                    <th>Genres</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% games.forEach((game) => { %>
                <tr>
                    <td data-label="Title"><%= game.title %></td>
                    <td data-label="Release Year"><%= game.release_year %></td>
                    <td data-label="Developer"><%= game.developer %></td>
                    <td data-label="Genres"><%= game.genres %></td>
                    <td data-label="Actions">
                        <a class="update-btn" href="/<%= game.game_id %>/update"
                            >Update</a
                        >
                        <form
                            action="/<%= game.game_id %>/delete"
                            method="POST"
                            style="display: inline"
                        >
                            <button
                                class="delete-btn"
                                type="submit"
                                onclick="return confirm('Are you sure you want to delete <%= game.title %>');"
                            >
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>
