<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Update <%= game.title %></title>
    </head>
    <body>
        <h1>Update <%= game.title %></h1>
        <form class="form" action="/<%= game.game_id %>/update" method="post">
            <input
                type="text"
                name="title"
                value="<%= game.title %>"
                placeholder="Game title"
                required
            />
            <input
                type="number"
                name="release_year"
                value="<%= game.release_year %>"
                placeholder="Release year"
                required
            />
            <label for="developer">Developer:</label>
                <select class="dev-select" name="developer_id" id="developer">
                    <% developers.forEach(dev => { %>
                        <option value="<%= dev.developer_id %>" 
                            <%= dev.developer_id === game.developer_id ? "selected" : "" %>>
                            <%= dev.name %>
                        </option>
                    <% }) %>
                </select>
            
            <label>Genre:</label>
            <div class="genre-container">
                    <% genres.forEach(genre => { %>
                        <label class="genre">
                            <input type="checkbox"
                                class="genres-checkbox"
                                name="genre_id"
                                value="<%= genre.genre_id %>"
                                <%= game.genre_ids.includes(genre.genre_id) ? "checked" : "" %>>
                            <%= genre.name %>
                        </label>
                    <% }) %>
            </div>
            <button class="submit" type="submit">Submit</button>
        </form>
    </body>
</html>
